:root {
    --bg: #8d8980;
    --color: #0e0e1d;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    margin: 1.5rem;
    background: var(--bg);
    color: var(--color);
}

h1, h2, h3, h4, h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, p { margin: 0; }

hr {
    border: 0;
    border-top: 2pt solid var(--color);
}

.logo {
    text-align: center;
    font-style: italic;
}

input, button {
    margin: auto;
    padding: 0.5rem;
    font-size: 16pt;
    background: none;
    color: var(--color);
    border: 0.5rem solid var(--color);
}
button { border: 0.15rem solid var(--color); }
button:hover {
    background: color-mix(in srgb, currentColor 15%, transparent);
}
button:active {
    background: color-mix(in srgb, currentColor 50%, transparent);
}

.nanobar {
    height: 1.75rem;
    text-align: center;
    box-sizing: border-box;
    border: 0.15rem solid var(--color);
}
.bar {
    border-right: 0.15rem solid var(--color);
    background: #ff0000;
}
.nanobarLabel {
    width: 100%;
    float: left;
    font-size: 16pt;
    text-shadow: var(--bg) 3px 0px 0px, var(--bg) 2.83487px 0.981584px 0px, var(--bg) 2.35766px 1.85511px 0px, var(--bg) 1.62091px 2.52441px 0px, var(--bg) 0.705713px 2.91581px 0px, var(--bg) -0.287171px 2.98622px 0px, var(--bg) -1.24844px 2.72789px 0px, var(--bg) -2.07227px 2.16926px 0px, var(--bg) -2.66798px 1.37182px 0px, var(--bg) -2.96998px 0.42336px 0px, var(--bg) -2.94502px -0.571704px 0px, var(--bg) -2.59586px -1.50383px 0px, var(--bg) -1.96093px -2.27041px 0px, var(--bg) -1.11013px -2.78704px 0px, var(--bg) -0.137119px -2.99686px 0px, var(--bg) 0.850987px -2.87677px 0px, var(--bg) 1.74541px -2.43999px 0px, var(--bg) 2.44769px -1.73459px 0px, var(--bg) 2.88051px -0.838247px 0px;
    text-transform: lowercase;
}
.partyMember > .statBar:not(:last-child) > .nanobar {
    border-bottom: 0;
}

.mainContainer {
    width: 50rem;
    margin: auto;
    padding: 1rem;
    border: 0.15rem solid var(--color);
}

.gameContainer {
    display: flex;
    flex-direction: row;
}
.leftSide {
    width: 35%;
    margin-right: 0.5rem;
    border: 0.15rem solid var(--color);
}
.rightSide {
    width: 65%;
    min-height: 10rem;
    margin-left: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.partyMember {
    padding: 0.5rem;
    border-bottom: 0.15rem solid var(--color);
}
.partyMemberName {
    text-transform: lowercase;
}
.characterEmoji {
    float: right;
    font-size: 16pt;
}


.inventory {
    padding: 0.5rem;
    font-size: 16pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.inventoryItem {
    text-align: left;
    font-size: 14pt;
    width: 50%;
    border: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 2pt;
    text-transform: lowercase;
}

.mainText {
    border: 2pt solid var(--color);
    flex-grow: 1;
    font-size: 15pt;
    padding: 0.5rem;
}
.choice {
    width: 100%;
    padding: 1rem;
    font-size: large;
    text-transform: lowercase;
}

.toBeCloned {
    display: none;
}

.footer {
    width: 50rem;
    margin: auto;
    padding: 1rem;
    font-size: 12pt;
    display: flex;
}
.status {
    flex-grow: 1;
}
.footerButtons {
    flex-shrink: 0;
}
.footerButton {
    font-size: small;
}